<%- include("partials/header.ejs") %>
<div id="content-container">
    <div id="posted-note-container">
        <p id="content-title">
            <%= postURL.postTitle %>
        </p>
        <hr>
        <p id="content-message">
            <%= postURL.postMessage %>
        </p>
    </div>
    </div>
    <%- include("partials/footer.ejs") %>