<!-- List of notes/Home screen -->

<%- include ("partials/header.ejs") %>
    <div class="main-container">
        <div class="main-note-container">
            <div class="mini-note1">
                <div class="mini-note2">
                    <h1 class="your-notes">Your Notes:</h1>
                    <div class="note-links">
                        <!-- Loops through each (title) in the array named posts. -->
                        <ul> <% posts.forEach(post=>{ %> 
                            <li><%= post.postTitle %></li>
                        <% }) %>
                        </ul>
                    </div>
                    <div class="button-container">
                        <!-- redirects user to /post page -->
                        <a href="/post" class="post-button">Post a Note</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include ("partials/footer.ejs") %>