<!-- List of notes/Home screen -->

<%- include ("partials/header.ejs") %>
    <div class="main-container">
        <div class="main-note-container">
            <div class="mini-note1">
                <div class="mini-note2">
                </div>
            </div>
        </div>
    </div>

<%- include ("partials/footer.ejs") %>