#posted-note-container {
    position: absolute;
    background-color: #FDF9D8;
    width: 655px;
    height: 455px;
    flex-shrink: 0;
    border-radius: 74.937px;
    box-shadow: 10.336px 10.336px 31.267px 0 rgba(0, 0, 0, 0.25);
}


#content-title {
    color: #FD7E35;
    font-family: "DM Sans", sans-serif;
    font-weight: 900;
    margin-left: 75px;
    margin-top: 50px;
    margin-bottom: 0;
    font-size: 32px;
    border: transparent;
    background-color: transparent;
    width: 500px;
}

#content-message{
    border: transparent;
    background-color: transparent;
    width: 500px;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    margin-left: 75px;
    margin-top: 2px;
    margin-bottom: 0;
    color: #FD7E35;
    height: 300px;
    font-size: 25px;
    text-align: justify;
    overflow-y: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
};