.main-container{
    display: flex;
    justify-content: center;
}

.main-note-container {
    width: 500px;
    height: 500px;
    border-radius: 59.95px;
    background: #FAEF9E;
    box-shadow: 10.538px 10.538px 31.877px 0 rgba(0, 0, 0, 0.25);
    flex-shrink: 0;
    display: flex;
    justify-content: center;
}

.mini-note1 {
    width: 400px;
    height: 400px;
    transform: rotate(-8.318deg);
    flex-shrink: 0;
    border-radius: 59.95px;
    background: #FDF9D8;
    box-shadow: 8.269px 8.269px 25.013px 0 rgba(0, 0, 0, 0.25);
    margin-top: 3rem;
}

.mini-note2{
    width: 400px;
    height: 400px;
    transform: rotate(8deg);
    flex-shrink: 0;
    border-radius: 59.95px;
    background: #FDF9D8;
    box-shadow: 8.269px 8.269px 25.013px 0 rgba(0, 0, 0, 0.25);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.your-notes{
    color: #FD7E35;
    font-family: "DM Sans", sans-serif;
    font-weight: 900;
    margin-left: 40px;
    margin-bottom: 0;
}

.note-links{
    display: inline-block;
    width: 330px;
    margin-left: 40px;
    margin-top: 0;
    color: #FD7E35;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    text-align: justify;
    min-height: 100px;
    text-align: justify;
    overflow-y: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.button-container{
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
}
.post-button{
    background-color: #5C8001;
    color: white;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 19PX;
    padding: 10px 40px;
    border-radius: 15px;
    border: transparent;
    box-shadow: 8.269px 8.269px 25.013px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
    margin-bottom: 30px;
    margin-right: 25px;
}

.main-note-container:hover{
    width: 520px;
    height: 520px;
    transition: transform 2s ease-in-out;
}

.mini-note1:hover, .mini-note2:hover{
    width: 420px;
    height: 420px;
    transition: transform 2s ease-in-out;
}

.post-button:hover{
    background-color: #527201;
}